@model MVCApp1.Models.students

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course.coursename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.coursename)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ids }) |
    @Html.ActionLink("Back to List", "Index")
</p>
