@model IEnumerable<MVCApp1.Models.students>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course.coursename)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course.coursename)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ids }) |
            @Html.ActionLink("Details", "Details", new { id=item.ids }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ids })
        </td>
    </tr>
}

</table>
